.App {
  text-align: center;
}

.recipe-image{
  height:540px;
  width: 750px;
  object-fit: cover;
}

.recipe-name{
  padding: 12px;
  font-size:48px
}
.recipe-container{
  background: white;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: rgb(0 0 0/4%) 0px 1px 11px 1px;
  transition: 0.2s;
}
.recipe-container:hover{
  transform: scale(1.05);
}

.recipe-list-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap:24px;
}
body{
  background: whitesmoke;
  font-family: 'Lobster', cursive;
}